* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-image: url("https://wallpaperbro.com/img/423582.jpg");
    background-size: cover;
}

#obi-wan, #luke, #sid, #maul {
    background: green;
    color: white;
}

.init {
    border: 3px solid green;
}


.enemy{
    opacity: 0;
    border: 3px solid red;
}

.chal{
    border: 3px solid black;
}

#obi-wan-en, #luke-en, #sid-en, #maul-en {
    background: red;
    color: white; 
}

.hpe, .chal-name {
    background: black;
    color: white;
    opacity: 1;
}

